@import url("https://fonts.googleapis.com/css?family=Google+Sans:200,300,400,400i,500,600,700,900");
@import url("https://fonts.googleapis.com/css?family=Nunito:200,300,400,500,600,700");
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
html {
  font-family: "Google Sans", sans-serif;
}
body {
  margin: 0px;
  padding: 0px;
  height: 100vh;
  width: 100vw;
  background: #F2D980;
  display: flex;
  align-items: center;
  justify-content: center;
}
